section {
    padding: 60px 0;
    overflow: hidden;
}

.section-title {
    text-align: center;
    padding-bottom: 20px;
}
.section-title h2 {
    font-size: 32px;
    font-weight: bold;
    text-transform: uppercase;
     
    position: relative;
}

.underline
{
    height: 3px;
    width:3rem;
    background-color: #00aaff;
    margin-top: 5px;
    margin-bottom: 10px;
}
.swiper-wrapper {
    height: auto !important;
}
 

 

.carousel .control-dots {
    position: absolute;
    bottom: auto;
    top: 314px;
    padding: 0;
    text-align: center;
    width: 100%;
    z-index: 1;
    margin-top:  0;
 }

.testimonials .testimonial-item {
    box-sizing: content-box;
    padding: 30px;
    margin: 30px 15px;
    min-height: 110px;
    box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.08);
    position: relative;
    background: #fff;
    border-radius: 15px;
    
  }

.carousel .control-dots .dot{
    
    width: 10px;
    height: 10px;
    background-color: #fff;
    opacity: 1;
    border: 2px solid #29a9e2;
  }

 